{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 p-3">
      <table class="table table-hover table-light">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nutzername</th>
            <th scope="col">Transponder ID</th>
          </tr>
        </thead>
        {%for user in users%}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{user.Name}}</td>
          <td>{{user.TransponderID}}</td>
        </tr>
        {%endfor%}
      </table>
      <button type="button" class="btn btn-success">Hinzufügen +</button>
    </div>
    <div class="col-md-6 p-3">
      <table class="table table-hover table-light">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Gruppenname</th>
          </tr>
        </thead>
        {%for group in groups%}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{group.Name}}</td>
        </tr>
        {%endfor%}
      </table>
      <button type="button" class="btn btn-success">Hinzufügen +</button>
    </div>

    <div class="col-md-6 p-3">
      <table class="table table-hover table-light">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Locations</th>
          </tr>
        </thead>
        {%for location in locations%}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{location.Name}}</td>
        </tr>
        {%endfor%}
      </table>
      <button type="button" class="btn btn-success">Hinzufügen +</button>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
